{{/* 記事ファイルのパスから data/history のキーを作る */}}
{{ $rel := "" }}
{{ with .File }}{{ $rel = .Path }}{{ end }}
{{ $key := replace (replace $rel "/" "__") "." "_" }}
{{ $hist := index site.Data.history $key }}

{{ if and $hist (gt (len $hist) 0) }}
<section class="article-history">
  <h2 class="article-history-title">更新履歴</h2>
  <ul class="article-history-list">
    {{ range $hist }}
      {{ $t := time .date }}
      <li>
        <a href="{{ .url }}" target="_blank" rel="noopener">
          <time datetime="{{ .date }}">{{ $t.Format "Jan 2, 2006 15:04" }}</time>
          <span>{{ .author }}</span>
          <span>{{ .message }}</span>
        </a>
      </li>
    {{ end }}
  </ul>
</section>
{{ end }}
