<aside class="col-side col-side--left">
  <div class="side-brand">
    <a class="site-title-ja" href="{{ "/" | relURL }}">いつも<br>わかっている<br>途中</a>
    <p class="site-title-en">Always Halfway<br>Through Realising</p>
    <p class="site-tagline">{{ .Site.Params.tagline }}</p>
  </div>
  <div class="side-foot">
    {{ with .Site.Params.photo_caption }}<p class="side-credit">{{ . }}</p>{{ end }}
    {{ with .Site.Params.photo_credit }}<p class="side-credit">{{ . }}</p>{{ end }}
    {{ with .Site.Params.photo_date }}<p class="side-credit">{{ . }}</p>{{ end }}
    <p class="side-copy">{{ .Site.Params.copyright }}</p>
  </div>
</aside>
