<aside class="col-side col-side--left">
  <div class="side-brand">
    <a class="site-title-ja" href="{{ "/" | relURL }}">いつも<br>わかっている<br>途中</a>
    <p class="site-title-en">Always Halfway<br>Through Realising</p>
    <p class="site-tagline">まちづくりにおける<br>葛藤・問い・実践の<br>循環</p>
  </div>
  <div class="side-foot" data-snap-side-meta>
    {{ with .snap }}
      <p class="side-credit" data-snap-line="caption"{{ if not .caption }} hidden{{ end }}>{{ .caption }}</p>
      <p class="side-credit" data-snap-line="credit"{{ if not .credit }} hidden{{ end }}>{{ .credit }}</p>
      <p class="side-credit" data-snap-line="date"{{ if not .date }} hidden{{ end }}>{{ .date }}</p>
    {{ end }}
    <p class="side-copy">{{ .page.Site.Params.copyright }}</p>
  </div>
</aside>
